@font-face {
    font-family: 'NewRegular';
    src: url('fnts/hit-the-road-webfont.eot');
    src: url('fnts/hit-the-road-webfont.eot?#iefix') format('embedded-opentype'),
         url('fnts/hit-the-road-webfont.woff') format('woff'),
         url('fnts/hit-the-road-webfont.ttf') format('truetype'),
         url('fnts/hit-the-road-webfont.svg#NewRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body { 
  font-size: 12px;
  font-family: 'Nimbus Sans', 'Nimbus Sans L', FreeSans, 'Liberation Sans', 'Dejavu Sans Condensed', HelveticaNeue-Light, 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
}

h1 {
	font-family: "NewRegular";
}

#logo {
	margin-top: 10px;
}

#logo h1 {
	margin-left: 20px;
	display: inline;
}

#site-slogan {
	margin-top: 5px;
	color: #959595;
	text-shadow: #fff 1px 1px;
	font-family: "NewRegular";
}

